<!DOCTYPE html>
{namespace bootstrap=TYPO3\Twitter\Bootstrap\ViewHelpers}
<html xmlns:f="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><f:render section="Title"/></title>

		<f:base/>
		<bootstrap:include version="3" />
	</head>
	<body>
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<f:link.action action="index" controller="NonWord" class="navbar-brand">List of non words</f:link.action>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Board</a></li>
					<f:if condition="{action}=='random'">
						 <f:then>
							<li	class="active">
						</f:then>
						<f:else>
							<li>
						</f:else>
					</f:if>
						<f:link.action action="random">Random generator</f:link.action></li>
				</ul>
			</div>
		</div>

		<div class="container">
			<header>
				<h1>#nonword</h1>
			</header>

			<f:flashMessages as="flashMessages">
				<div class="alert alert-info" role="alert">
					<ul class="unstyled">
						<f:for each="{flashMessages}" as="flashMessage">
							<li><span class="glyphicon glyphicon-info-sign"></span> {flashMessage}</li>
						</f:for>
					</ul>
				</div>
			</f:flashMessages>

			<h2><f:render section="Title" /></h2>

			<f:render section="Content" />
		</div>

		<footer class="footer">
			<div class="container text-muted">
				Technologies used
				<ul>
					<li>HTML5 Framework <a href="http://getbootstrap.com/">Twitter Bootstrap</a> by <a href="http://twitter.com/mdo">@mdo</a> und <a href="http://twitter.com/fat">@fat</a> licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a></li>
					<li>JavaScript Framework <a href="http://jquery.com/">jQuery</a> by <a href="http://jquery.org/">jQuery Foundation</a> licensed under <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT License</a></li>
					<li>Icons <a href="http://glyphicons.com/">Glyphicons Free</a> by <a href="https://twitter.com/glyphicons">Jan Kovařík</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a></li>
					<li>PHP Framework <a href="http://flow.typo3.org/">TYPO3 Flow</a> by <a href="http://typo3.com/">TYPO3</a> licensed under <a href="http://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License version 3</a></li>
				</ul>
			</div>
		</footer>

	</body>
</html>