<f:layout name="Default" />

<f:section name="Title">Edit non word "{nonWord.title}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{nonWord}" objectName="nonWord">
		<ol>
			<li>
				<label for="name">Non Word</label>
				<f:form.textfield property="title" id="title" />
			</li>
			<li>
				<label for="name">Author</label>
				<f:form.textfield property="author" id="author" />
			</li>
			<li>
				<label for="name">URL</label>
				<f:form.textfield property="link" id="link" />
			</li>

			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>