<f:layout name="Default" />

<f:section name="Title">A list of non words</f:section>

<f:section name="Content">
	<f:if condition="{nonWords}">
		<f:then>
			<table class="table table-striped">
				<colgroup>
					<col width="*">
					<col width="100%">
				</colgroup>
				<thead>
					<tr>
						<th align="right">Rank</th>
						<th>Non Word</th>
						<th align="right">Votes</th>
						<th>Yea or Nay?</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{nonWords}" as="nonWord">
						<tr>
							<td align="right">1</td>
							<td><f:link.action action="show" arguments="{nonWord: nonWord}">{nonWord.title}</f:link.action></td>
							<td align="right">{nonWord.votes}</td>
							<td>
								<f:link.action action="downvote" arguments="{nonWord: nonWord}" class="btn btn-default btn-sm">Downvote</f:link.action>
								<f:link.action action="upvote" arguments="{nonWord: nonWord}" class="btn btn-default btn-sm">Upvote</f:link.action>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>No non words created yet.</p>
		</f:else>
	</f:if>

	<p><f:link.action action="new">Create a new non word</f:link.action></p>
</f:section>