<f:layout name="Default" />

<f:section name="Title">A list of non words</f:section>

<f:section name="Content">
	<f:security.ifAccess resource="NonWordCreate">
		<f:then>
			<p><span class="glyphicon glyphicon-plus-sign"></span> <f:link.action action="new">Create a new non word</f:link.action></p>
		</f:then>
		<f:else>
			<p><span class="glyphicon glyphicon-plus-sign"></span> <f:link.action action="new">You need to login to create a new non word</f:link.action></p>
		</f:else>
	</f:security.ifAccess>

	<f:if condition="{nonWords}">
		<f:then>
			<f:widget.paginate objects="{nonWords}" as="paginatedNonWords" configuration="{itemsPerPage: 25}">
				<table class="table table-striped">
					<colgroup>
						<col width="0*">
						<col width="100%">
					</colgroup>
					<thead>
						<tr>
							<th align="right">Rank</th>
							<th>Post</th>
							<th align="right">Votes</th>
							<th>Yea or Nay?</th>
						</tr>
					</thead>
					<tbody>
						<f:for each="{paginatedNonWords}" as="nonWord">
							<tr>
								<td align="right">1</td>
								<td><f:link.action action="show" arguments="{nonWord: nonWord}">{nonWord.title}</f:link.action></td>
								<td align="right">{nonWord.votes}</td>
								<td>
									<f:render partial="VoteButtons" arguments="{nonWord: '{nonWord}', buttonsize: 'sm'}" />
								</td>
							</tr>
						</f:for>
					</tbody>
				</table>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<p>No non words created yet.</p>
		</f:else>
	</f:if>
</f:section>