<f:layout name="Default" />

<f:section name="Title">New non word</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new non word:</p>

	<f:form action="create" objectName="newNonWord">
		<div class="form-group">
			<label for="name">Non Word</label>
			<f:form.textfield property="title" id="title" class="form-control" />
		</div>
		<div class="form-group">
			<label for="name">Author</label>
			<f:form.textfield property="author" id="author" class="form-control" />
		</div>
		<div class="form-group">
			<label for="name">URL</label>
			<f:form.textfield property="link" id="link" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	</f:form>
</f:section>