<f:layout name="Default" />

<f:section name="Title">Show random non word</f:section>

<f:section name="Content">
	<div class="jumbotron">
		<blockquote cite="{nonWord.link}">
			<p>{nonWord.title}</p>

			<f:if condition="{nonWords.link}">
				<footer>— <a href="{nonWord.link}">{nonWord.author}</a></footer>
			</f:if>
		</blockquote>

		<div class="row">
			<div class="col-md-6">
				Share <code><span class="glyphicon glyphicon-share-alt"></span> <f:link.action action="show" arguments="{nonWord: nonWord}"><f:uri.action action="show" arguments="{nonWord: nonWord}" absolute="true"></f:uri.action></f:link.action></code>
			</div>
			<div class="col-md-6">
				<p class="">
					{nonWord.votes} Votes <span class="muted">(Rank 23)</span>
					<div class="btn-group">
						<f:link.action action="downvote" arguments="{nonWord: nonWord}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Downvote</f:link.action>
						<f:link.action action="upvote" arguments="{nonWord: nonWord}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Upvote</f:link.action>
					</div>
				</p>
			</div>
		</div>
	</div>
</f:section>