<f:layout name="Default" />

<f:section name="Title">Show non word “{nonWord.title}”</f:section>

<f:section name="Content">
	<div class="jumbotron">
		<blockquote cite="{nonWord.link}">
			<p>{nonWord.title}</p>

			<f:if condition="{nonWord.link}">
				<f:then>
					<footer>
						<f:link.external uri="{nonWord.link}" defaultScheme="http">{f:if(condition:'{nonWord.author}',then: '{nonWord.author}',else: '{nonWord.link}')}</f:link.external>
					</footer>
				</f:then>
				<f:else>
					<f:if condition="{nonWord.author}">
						<footer>
							{nonWord.author}
						</footer>
					</f:if>
				</f:else>
			</f:if>
		</blockquote>

		<div class="row">
			<div class="col-md-5">
				<pre><span class="glyphicon glyphicon-share-alt"></span> <f:link.action action="show" arguments="{nonWord: nonWord}"><f:uri.action action="show" arguments="{nonWord: nonWord}" absolute="true"></f:uri.action></f:link.action></pre>
			</div>
			<div class="col-md-3">
				<p class="pull-right">
					{nonWord.votes} Votes <span class="muted">(Rank 1)</span>
				</p>
			</div>
			<div class="col-md-4">
				<f:render partial="VoteButtons" arguments="{nonWord: '{nonWord}', buttonsize: 'lg'}" />
			</div>
		</div>
	</div>

	<p><f:link.action action="edit" arguments="{nonWord: nonWord}" class="btn btn-default">Edit</f:link.action></p>

	<f:form action="delete" arguments="{nonWord: nonWord}">
		<f:form.submit value="Delete" class="btn btn-default" />
	</f:form>
</f:section>